<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinOdataBc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WinOdataBc.Properties.Settings>
            <setting name="WinOdataBc_DataToBCService_DataToBc" serializeAs="String">
                <value>https://api.businesscentral.dynamics.com/v1.0/1e8d4a09-820e-475f-8136-bcb4838783d9/sandbox/WS/CRONUS%20NL/Codeunit/DataToBc?tenant=msweua5608t61473070&amp;aid=FIN</value>
            </setting>
        </WinOdataBc.Properties.Settings>
    </applicationSettings>
</configuration>